.country-card-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.country-card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
}

.card-img-top {
  height: 212px;
}

.card-text {
  margin-bottom: 60px;
}

.p2_search {
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 56px;
  height: 40px;
}

.activities-button {
  position: absolute;
  bottom: 0;
  margin: 10px 0px;
}

.loading,
.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.loading-symbol {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 820px) {
  .p2_search {
    justify-content: center;
    margin-right: 0px;
  }
}
