.activity-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;

  & input {
    margin: 5px;
  }

  & select {
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 280px;
    font-size: 12px;
    margin: 5px;
    color: grey;
  }

  & .form-button {
    width: 100px;
    height: 30px;
    padding: 5px 7px 7px 5px;
    border-radius: 5px;
    background-color: #0071c2;
    color: white;
    border: 0px;
    font-size: 12px;
    margin-top: 20px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
  }
  .form-button:hover {
    background-color: #00487a;
  }
}
.countryerror {
  width: 210px;
}
.countryclose {
  margin-left: 30px;
  margin-top: 1px;
}
@media (min-width: 769px) {
  .form {
    max-width: 450px;
  }
}
