nav {
  & ul {
    // display: flex;
    list-style: none;
    margin-bottom: 0;
    // gap: 20px;
  }
}

@media (min-width: 990px) {
  nav {
    & ul {
      display: flex;
      gap: 20px;
    }
  }
}
