nav {
  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.all_nav {
  justify-content: space-between;
}

.browse_nav {
  margin-bottom: 0;
  padding-left: 0;
}

@media (min-width: 990px) {
  nav {
    & ul {
      display: flex;
      flex-direction: row;
    }
  }
}

// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
// }

// .footer-links {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .built-by {
//   margin-right: 1rem;
// }

// .footer-links a {
//   color: #0071c2;
//   text-decoration: none;
//   margin-right: 1rem;
// }

// .text-right {
//   text-align: right;
// }
