nav {
  & ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
}

@media (min-width: 990px) {
  nav {
    & ul {
      display: flex;
      gap: 20px;
      justify-content: flex-end;
    }
  }
}
