.home_background_image {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.home_background_image:hover {
  opacity: 0.9;
}

form {
  display: flex;
  justify-content: center;

  & input {
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 280px;
    font-size: 12px;
    margin-right: 10px;
  }
  & button {
    width: 80px;
    padding: 5px 7px 7px 5px;
    border-radius: 5px;
    color: #0071c2;
    background-color: white;
    border: 1px solid #0071c2;
    border: 0px;
    font-size: 12px;
    cursor: pointer;
  }
}

.home_header {
  text-align: center;
  padding: 40px;
  margin-top: 200px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: -20px;
}

.home {
  display: flex;
  flex-direction: column;
}

.submit_button:hover {
  background-color: #0071c2;
  color: white;
}

.signup_login_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 280px;

  button {
    width: 90px;
    height: 30px;
    padding: 5px 7px 7px 5px;
    border-radius: 5px;
    background-color: #0071c2;
    color: white;
    border: 0px;
    font-size: 12px;
    cursor: pointer;
  }
  button:hover {
    background-color: #00487a;
  }
}

.errorbox {
  font-size: 10px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50vw;
}

.closebutton {
  background-color: transparent;
  border: none;
  color: #842029;
  margin-right: -40px;
  margin-top: -30px;
  font-size: 1;
}
