form {
  display: flex;
  justify-content: center;

  & input {
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 200px;
  }
  & button {
    margin-left: 7px;
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
    cursor: pointer;
  }
}

h1 {
  text-align: center;
}
nav {
  & ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}
